 .dashboard-section {
     margin: 10px auto;
     text-align:center;
     font-size: .8rem;
 }
 .dashboard-section h3 {
     font-weight:bold;
 }

 .dashboard-section p{
     color: #616161;
 }
 .dashboard-section img {
    width:100%;
 }


 @media only screen and (min-width:768px) {
     .dashboard-section {
         font-size: 1rem;
         position: relative;
         left: 114px;
         overflow-y: hidden;
     }
     .dashboard-section img {
         width: 500px;
     }
     .main {
         overflow-x: hidden;
     }
 }