
.menu {
    display: none;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width:fit-content; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#5f07b1; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 40px;
  }
  
  .sidenav h2 {
      text-align: left;
      color: #fff;
      /* background-color: #9B51E0; */

  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
    display: block;
    text-align: left;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #e5e5e5;
    text-decoration: none;
  }
  
   
  
  /* media queries */
 
  
  @media only screen and (max-width:768px) {
   
      .sidenav {
          display: none;
      }
      .menu {
          display: block;
      }
  }





  /* collapsible navbar */

  * {
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
   font-family: 'Poppins';
}



/* problem 1 */
/* h1{
    font-size: 50px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
} */


.menu{
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 200;
}
/* I hide the checkbox because I only need the label */
#check{
    display: none;
}

.button{
    width: 48px;
    height: 48px;
    background: #5f07b1;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 8px;
    line-height: 8px;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 201;
}
.button:hover{
    background: #3394bd;
}
.button span{
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62,.43,.35,1.47);
}


/* toggle icon animation */
#check:checked ~ .button span:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .button span:nth-child(2){
    width: 0;
}

#check:checked ~ .button span:nth-child(3){
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}


/* the nav height is set to 0 when the navbar is closed */
/* problem 2 */
.diff-nav{
    text-align: left;
    overflow: hidden;
    transition: all 0.4s ease;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #5F07B1;
    color:white;
    height: 0;
}
.diff-nav a{
    text-decoration: none;
    color: #0c1019;
    display: block;
    font-size: 18px;
    transition: all 0.4s cubic-bezier(.22,.43,.35,1.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    text-align: center;
    border-bottom: 1px solid #b4ac97;
}

.diff-nav a:hover{
    /* background: #ffdd7f; */
    background: white;
}

/* the nav height will be set to the height in pixels that would have for default, using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked ~ .diff-nav{
    height: 144px;
}

#check:checked ~ .diff-nav a{
    padding: 10px;
    opacity: 1;
    transform: scale(1);
}

/* you can edit the direction where the slide starts, changing the height animation to width, but it will take some changes.
for example:

nav{
    width: 0%;
    background: #ffffff;
    height: auto;
    max-height 144px;
    opacity: 0;
}

#check:checked ~ nav{
    width: 100%;
    opacity: 1;
} 

*/