<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Tech101 certificate | <%= name %> </title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="container">
      <div class="first-part">
         <img src="/img/tech101 certification of completion.png" alt="cerfication of completion">
      </div>
      <div class="second-part">
         <div class="roothub-logo">
         </div>
         <div class="line">
            <h1><%= name %></h1>
         </div>
         <div class="wrapper">
            <div>
               <div class="sponsorers">
                  <img src="/img/tech 101 sponsorers.png" alt="google, ayaya, akees, onuk and log" srcset="">
               </div>
            </div>
            <div class="signature">
               <img src="/img/signature.png" alt="signature" srcset="">
            </div>
            <div class="courses">
               <form>
                  <div class="form-group">
                     <label for="design">Graphics Design</label>
                     <input type="checkbox" name="design" id="design"></div>
                  <div class="form-group">
                     <label for="web">Web Development</label>
                     <input type="checkbox" name="web" id="web"></div>
                  <div class="form-group">
                     <label for="programming">Programming</label>
                     <input type="checkbox" name="programming" id="programming"></div>
                  <div class="form-group">
                     <label for="digital-marketing">Digital Marketing</label>
                     <input type="checkbox" name="digital-marketing" id="digital-marketing"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>
</html>