@font-face {
  font-family: 'Varela';
  src: url('webfont/Varela-Regular.ttf')  format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela";
}

body {
  position: relative;
  overflow-x: hidden;
}

.header{
  height: 55px;
  justify-content: space-between;
  background-color: #ecf9f7;
}

.logo{
  display: inline-block;
  width: 5rem;
  margin-left: 3rem;
  height: 95px;
  background-color: #00695C;
  position: relative;
  border-radius: 0 0 0 25%;
}

.logo > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: fit-content;
}

.nav-bar{
  width: 50%;
  display: inline-block;
  float: right;
}

.nav-bar > ul{
  width: 100%;
  list-style-type: none;
}

.nav-bar > ul > li{
  display: inline-block;
  margin: auto 9px;
  font-variant: petite-caps;
}

.landing{
  height: 27rem;
  background-color: #ecf9f7;
  display: flex;
  align-items: center;
  width: 100%;
}

.landing > div{
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-left: 10rem;
}

.landing > div > header{
  font-weight: bold;
  font-size: 32px;
  padding: 15px 0;
}

.landing > div > div{
  font-size: 14px;
  line-height: 1.7rem;
  word-spacing: 1.3px;
}

.landing > div > .link{
  margin-top: 0.6rem;
  margin-left: 1.4rem;
}

.content{
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf9f7;
}

.content > div{
  height: 80%;
  width: 23%;
  margin: auto 1.5rem;
  text-align: center;
  display: grid;
  box-shadow: 1px 0px 2px #0000003d;
  border-radius: 10px 20% 10px 11%;
}

.content > div > header{
  font-size: 1.7rem;
  padding-top: 22px;
}

.content > div > section{
  line-height: 1.5rem;
  padding: 13px;
  font-size: 15px;
}

.content > div > footer{
  /*padding: 13px;*/
}

.footer{
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #00695C;
  color: #ffffff;
  overflow: hidden;
}

.footer > div{
  width: 100%;
  height: auto;
}

.footer > div > ul{
  list-style-type: none;
}

.footer > div > ul >li{
  margin: 5px;
  padding: 13px;
}

.btn{
  border-bottom-right-radius: 25%;
  background-color: #fbe1bc;
}

.nav-link, .nav-link a, a{
  text-decoration: none;
  color: black;
  padding: 13px 5px;
}

.overlay{
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

.design{
  height: 100rem;
  position: absolute;
  width: 150rem;
  background-color: #93cac14d;
  border-radius: 50%;
  top: -62rem;
  left: -50%; 
  pointer-events: none;
}

.design-1{
  height: 44rem !important;
  width: 44rem !important;
  position: absolute;
  bottom: -9rem;
  background-color: #93cac14d;
  border-radius: 50%;
  right: -4rem;
  z-index: 5;
  pointer-events: none;
}