:root {
   --primary-color: #FFEB3B;
   --black: #000;
   --white: #fff;
}

@font-face {
	font-family: 'FuturaBT-BoldCondensed';
	src: url('/webfont/FuturaBT-BoldCondensed.eot?#iefix')
			format('embedded-opentype'),
		url('webfont/FuturaBT-BoldCondensed.woff') format('woff'),
		url('webfont/FuturaBT-BoldCondensed.ttf') format('truetype'),
		url('webfont/FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
   font-family: 'FuturaBT-BoldCondensed';
}

.input-container{
   width: 50%;
   margin: 20px auto;
}

input[type=text]{
   height: 4rem;
   width: 100%;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.4rem;
}

.container {
   border: 1.3rem solid var(--primary-color);
   width: 80rem;
   height: 57rem;
   margin: 50px auto;
   border-radius: .7rem;
   background-color: var(--primary-color);
}

.first-part {
   width: 100%;
   height: 55%;
   background-color: var(--primary-color);
}

.first-part > img{
   max-width: 76rem;
   position: relative;
   top: -1.31rem;
   left: -1.33rem;
}

.second-part{
   width: 100%;
   height: 45%;
   background-color: var(--white);
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   padding: 0 2rem;
}


.line{
   position: relative;
   top: 7.9rem;
   left: 14rem;
   width: 80%;
   height: .3rem;
   background-color: var(--black);
   display: flex;
   justify-content: center;
}

.line h1 {
   position: absolute;
   top: -5rem;
   text-transform: uppercase;
   font-size: 3.5rem;
}

.wrapper{
   display: grid;
   grid-template-columns: 40% 34% 22%;
   align-items: end;
   grid-column-gap: 1rem;
   position: relative;
   top: 15rem;
}


.sponsorers > img{
   width: 70%;
}

.signature > img{
   width: 80%;
}

.courses{
   position: relative;
   top: -20px;
   text-align: right;
}

.courses label {
   font-weight: bold;
}

input[type="checkbox"]{
   vertical-align: middle;
   display: inline-block;
   border: 20px solid black;
}


.signature-line{
   width: 19rem;
   height: .1rem;
   background-color: var(--black);
}




.info {
   font-size: 4rem;
   text-align: center;
}


