/* .card {
    position: absolute;
width: 504px;
height: 645px;
left: 800px;
top: 189px;

background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
} */

* {
    width: 100%;
}

.side-bar h2 {
    text-align:left;
    font-weight: bold;
}

.side-bar h1 {
    text-align: left;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width:fit-content;
}