* {
    padding: 0 ;
    margin: 0 ;
}

.cert-sect {
    padding: 0 !important ;
    margin: 0 !important;
}
.banner {
    text-align:left;
    margin: 50px;
}
.banner h1{
    font-weight: bold;
}

.banner p {
    color:gray;
    margin-top: 7%;
}

.cta-btn {
    background-color: #9B51E0;
    color: #fff;
    border: 1px solid #9B51E0;
    padding:7px;
    position: relative;
    bottom: 0;
    top: 50px;
    transition: .5s ease-in-out;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 10px 0px gray;
}

.steps {
    background-color: #e5e5e5;
    padding-top:5%;
}

.steps h2 {
    font-weight: bold;
    padding:20px;
}

.step h1 {
    font-size:3rem;   
}
.step h4 {
    font-weight: bold;
}

.content {
    margin-top: 20px;
  }
  
  .adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
  
  .adjust2 {
    margin: 0;
  }
  
  .carousel-indicators {
    margin-bottom: -20px;
  }
  
  .carousel-indicators li {
    border: 1px solid #ccc;
  }
  
  .carousel-indicators .active {
    background: #31708f;
  }
  
  .carousel-control {
    color: #31708f;
    width: 5%;
  }
  
  .carousel-control:hover,
  .carousel-control:focus {
    color: #31708f;
  }
  
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
  
  .media-object {
    margin: auto;
    margin-top: 15%;
  }
  
  @media screen and (max-width: 768px) {
    .media-object {
      margin-top: 0;
    }
  }